<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>packlist</string>
				<string>azpl</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon57</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PackList Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.azukid.${PRODUCT_NAME:identifier}</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon57s1.png</string>
		<string>Icon57s1@2x.png</string>
		<string>Icon57.png</string>
		<string>Icon57@2x.png</string>
		<string>Icon72.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon57s1.png</string>
				<string>Icon57s1@2x.png</string>
				<string>Icon57.png</string>
				<string>Icon57@2x.png</string>
				<string>Icon72.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.azukid.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PackList</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.8.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Icon57</string>
			<key>CFBundleURLName</key>
			<string>PackList</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>db-jngoip8t4z187ot</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0.8.0.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PackList Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.azukid.${PRODUCT_NAME:identifier}</string>
			<key>UTTypeSize320IconFile</key>
			<string>Icon57@2x</string>
			<key>UTTypeSize64IconFile</key>
			<string>Icon57</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>packlist</string>
				<key>public.mime-type</key>
				<string>application/vnd.packlist</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
